@using Entity
@model Article
<div class="page">
	<div class="page_layout page_margin_top clearfix">
		<div class="row page_margin_top">
			<div class="column column_1_1">
				<div class="horizontal_carousel_container small">
					<ul class="blog horizontal_carousel autoplay-1 scroll-1 visible-3 navigation-1 easing-easeInOutQuint duration-750">
						<li class="post">
							<a href="post.html" title="New Painkiller Rekindles Addiction Concerns">
								<img src='/Content/images/samples/510x187/image_08.jpg' alt='img'>
							</a>
							<h5><a href="post.html" title="New Painkiller Rekindles Addiction Concerns">New Painkiller Rekindles Addiction Concerns</a></h5>
							<ul class="post_details simple">
								<li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>
								<li class="date">
									10:11 PM, Feb 02
								</li>
							</ul>
						</li>
						<li class="post">
							<a href="post_small_image.html" title="High Altitudes May Aid Weight Control">
								<img src='/Content/images/samples/510x187/image_01.jpg' alt='img'>
							</a>
							<h5><a href="post_small_image.html" title="High Altitudes May Aid Weight Control">High Altitudes May Aid Weight Control</a></h5>
							<ul class="post_details simple">
								<li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>
								<li class="date">
									10:11 PM, Feb 02
								</li>
							</ul>
						</li>
						<li class="post">
							<a href="post_gallery.html" title="Built on Brotherhood, Club Lives Up to Name">
								<span class="icon gallery"></span>
								<img src='/Content/images/samples/510x187/image_03.jpg' alt='img'>
							</a>
							<h5><a href="post_gallery.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a></h5>
							<ul class="post_details simple">
								<li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>
								<li class="date">
									10:11 PM, Feb 02
								</li>
							</ul>
						</li>
						<li class="post first">
							<a href="post.html" title="Built on Brotherhood, Club Lives Up to Name">
								<img src='/Content/images/samples/510x187/image_09.jpg' alt='img'>
							</a>
							<h5><a href="post.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a></h5>
							<ul class="post_details simple">
								<li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>
								<li class="date">
									10:11 PM, Feb 02
								</li>
							</ul>
						</li>
						<li class="post first">
							<a href="post_small_image.html" title="Built on Brotherhood, Club Lives Up to Name">
								<img src='/Content/images/samples/510x187/image_07.jpg' alt='img'>
							</a>
							<h5><a href="post_small_image.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a></h5>
							<ul class="post_details simple">
								<li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>
								<li class="date">
									10:11 PM, Feb 02
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<hr class="divider page_margin_top">
		<div class="row page_margin_top">
			<div class="column column_2_3">
				<div class="row">
					<div class="post single">
						<h1 class="post_title">
							@Model.Head
						</h1>
						<ul class="post_details clearfix">
							<li class="detail category">In <a href="category_health.html" title="HEALTH">Health</a></li>
							<li class="detail date">8:25 PM, Feb 23</li>
							<li class="detail author">By <a href="author.html" title="Anna Shubina">Anna Shubina</a></li>
							<li class="detail views">6 254 Views</li>
							<li class="detail comments"><a href="#comments_list" class="scroll_to_comments" title="6 Comments">6 Comments</a></li>
						</ul>
						<a href="/Content/images/samples/690x450/@Html.Raw(Model.Picture+".jpg")" class="post_image page_margin_top prettyPhoto" title="Britons are never more comfortable than when talking about the weather.">
							<img src='/Content/images/samples/690x450/@Html.Raw(Model.Picture+".jpg")' alt='img'>
						</a>
						<div class="sentence">
							<span class="text">Britons are never more comfortable than when talking about the weather.</span>
							<span class="author">John Smith, Flickr</span>
						</div>
						<div class="post_content page_margin_top_section clearfix">
							<div class="content_box">
								<h3 class="excerpt">Politicians have looked weak in the face of such natural disaster, with many facing criticism from local residents for doing little more than turning up as flood tourists at the site of disasters.</h3>
								<div class="text">
									<p>@Model.Paragraph</p>
									<p>Politicians have looked weak in the face of such natural disaster, with many facing criticism from local residents for doing little more than turning up as “flood tourists” at the site of disasters, incapable of helping those in crisis and only there for a photo opportunity. The Environment Agency, the body responsible for combating floods and managing rivers, has also been blamed for failing to curb the disasters. But there’s an ever larger debate over the role of climate change in the current floods and storms, and it has been unremittingly hostile.</p>
									<blockquote class="inside_text page_margin_top">
										Politicians have looked weak in the face of such natural disaster, with many facing criticism from local residents.
										<span class="author">&#8212;&nbsp;&nbsp;Julia Slingo, ETF</span>
									</blockquote>
									<p>For those affected by flooding however, their immediate concerns are not necessarily about the manmade changes to the earth’s atmosphere. A YouGov poll from February found that while 84% of those surveyed believed Britain was likely to experience similar extreme weather events in the next few years, only 30% thought it was connected to man-made climate change.</p>
									<p>There is no evidence to counter the basic premise that a warmer world will lead to more intense daily and hourly rain events. When heavy rain in 2000 devastated parts of Britain, a later study found the climate change had doubled the chances of the flood occurring, said Julia Slingo.</p>
									<a title="6 Comments" href="post.html" class="read_more page_margin_top scroll_to_comments"><span class="arrow"></span><span>6 COMMENTS</span></a>
								</div>
							</div>
							<div class="author_box animated_element">
								<div class="author">
									<a title="Anna Shubina" href="author.html" class="thumb">
										<img alt="img" src="~/Content/images/samples/Team_100x100/@Html.Raw(ViewBag.Author.Image+".jpg")">
									</a>
									<div class="details">
										<h5><a title="Anna Shubina" href="author.html">@ViewBag.Author.Name</a></h5>
										<h6>EDITOR</h6>
										<a href="author.html" class="more highlight margin_top_15">PROFILE</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row page_margin_top">
					<div class="share_box clearfix">
						<label>Share:</label>
						<ul class="social_icons clearfix">
							<li>
								<a target="_blank" title="" href="http://facebook.com/QuanticaLabs" class="social_icon facebook">
									&nbsp;
								</a>
							</li>
							<li>
								<a target="_blank" title="" href="https://twitter.com/QuanticaLabs" class="social_icon twitter">
									&nbsp;
								</a>
							</li>
							<li>
								<a title="" href="mailto:contact@pressroom.com" class="social_icon mail">
									&nbsp;
								</a>
							</li>
							<li>
								<a title="" href="#" class="social_icon skype">
									&nbsp;
								</a>
							</li>
							<li>
								<a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social_icon envato">
									&nbsp;
								</a>
							</li>
							<li>
								<a title="" href="#" class="social_icon instagram">
									&nbsp;
								</a>
							</li>
							<li>
								<a title="" href="#" class="social_icon pinterest">
									&nbsp;
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row page_margin_top">
					<ul class="taxonomies tags left clearfix">
						<li>
							<a href="#" title="People">PEOPLE</a>
						</li>
						<li>
							<a href="#" title="Sport">SPORT</a>
						</li>
					</ul>
					<ul class="taxonomies categories right clearfix">
						<li>
							<a href="category_health.html" title="HEALTH">HEALTH</a>
						</li>
					</ul>
				</div>
				<div class="row page_margin_top_section">
					<h4 class="box_header">Posts Carousel</h4>
					<div class="horizontal_carousel_container page_margin_top">
						<ul class="blog horizontal_carousel autoplay-1 scroll-1 navigation-1 easing-easeInOutQuint duration-750">
							<li class="post">
								<a href="post.html" title="New Painkiller Rekindles Addiction Concerns">
									<img src='/Content/images/samples/330x242/image_08.jpg' alt='img'>
								</a>
								<h5><a href="post.html" title="New Painkiller Rekindles Addiction Concerns">New Painkiller Rekindles Addiction Concerns</a></h5>
								<ul class="post_details simple">
									<li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>
									<li class="date">
										10:11 PM, Feb 02
									</li>
								</ul>
							</li>
							<li class="post">
								<a href="post_small_image.html" title="High Altitudes May Aid Weight Control">
									<img src='/Content/images/samples/330x242/image_01.jpg' alt='img'>
								</a>
								<h5><a href="post_small_image.html" title="High Altitudes May Aid Weight Control">High Altitudes May Aid Weight Control</a></h5>
								<ul class="post_details simple">
									<li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>
									<li class="date">
										10:11 PM, Feb 02
									</li>
								</ul>
							</li>
							<li class="post">
								<a href="post_gallery.html" title="Built on Brotherhood, Club Lives Up to Name">
									<span class="icon gallery"><!--<span class="info">999</span>--></span>
									<img src='/Content/images/samples/330x242/image_03.jpg' alt='img'>
								</a>
								<h5><a href="post_gallery.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a></h5>
								<ul class="post_details simple">
									<li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>
									<li class="date">
										10:11 PM, Feb 02
									</li>
								</ul>
							</li>
							<li class="post first">
								<a href="post.html" title="Built on Brotherhood, Club Lives Up to Name">
									<img src='/Content/images/samples/330x242/image_09.jpg' alt='img'>
								</a>
								<h5><a href="post.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a></h5>
								<ul class="post_details simple">
									<li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>
									<li class="date">
										10:11 PM, Feb 02
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="row page_margin_top_section">
					<h4 class="box_header">Leave a Comment</h4>
					<p class="padding_top_30">Your email address will not be published. Required fields are marked with *</p>
					<form class="comment_form margin_top_15" id="comment_form" method="post" action="post.html">
						<fieldset class="column column_1_3">
							<input class="text_input" name="name" type="text" value="Your Name *" placeholder="Your Name *">
						</fieldset>
						<fieldset class="column column_1_3">
							<input class="text_input" name="email" type="text" value="Your Email *" placeholder="Your Email *">
						</fieldset>
						<fieldset class="column column_1_3">
							<input class="text_input" name="website" type="text" value="Website" placeholder="Website">
						</fieldset>
						<fieldset>
							<textarea name="message" placeholder="Comment *">Comment *</textarea>
						</fieldset>
						<fieldset>
							<input type="submit" value="POST COMMENT" class="more active">
							<a href="#cancel" id="cancel_comment" title="Cancel reply">Cancel reply</a>
						</fieldset>
					</form>
				</div>
				<div class="row page_margin_top_section">
				
					<h4 class="box_header">6 Comments</h4>
				
					<ul id="comments_list">
						<li class="comment clearfix" id="comment-1">
							<div class="comment_author_avatar">
								&nbsp;
							</div>
							<div class="comment_details">
								<div class="posted_by clearfix">
									<h5><a class="author" href="#" title="Kevin Nomad">Kevin Nomad</a></h5>
									<abbr title="22 July 2014" class="timeago">22 July 2014</abbr>
								</div>
								<p>
									Donec ipsum diam, pretium mollis dapibus risus. Nullam tindun pulvinar at interdum eget, suscipit eget felis. Pellentesque est faucibus tincidunt risus id interdum primis orci cubilla gravida id interdum eget.
								</p>
								<a class="read_more" href="#comment_form" title="Reply">
									<span class="arrow"></span><span>REPLY</span>
								</a>
							</div>
							
						</li>		
						<li class="comment clearfix" id="comment-2">
							<div class="comment_author_avatar">
								&nbsp;
							</div>
						
							<div class="comment_details">
								<div class="posted_by clearfix">
									<h5><a class="author" href="#" title="Kevin Nomad">Kevin Nomad</a></h5>
									<abbr title="22 July 2014" class="timeago">22 July 2014</abbr>
								</div>
								<p>
									Donec ipsum diam, pretium mollis dapibus risus. Nullam tindun pulvinar at interdum eget, suscipit eget felis. Pellentesque est faucibus tincidunt risus id interdum primis orci cubilla gravida id interdum eget.
								</p>
								<a class="read_more" href="#comment_form" title="Reply">
									<span class="arrow"></span><span>REPLY</span>
								</a>
							</div>
							<ul class="children">
								<li class="comment clearfix">
									<a href="#comment-2" class="parent_arrow"></a>
									<div class="comment_author_avatar">
										&nbsp;
									</div>
									<div class="comment_details">
										<div class="posted_by clearfix">
											<h5><a class="author" href="#" title="Keith Douglas">Keith Douglas</a><a href="#comment-2" class="in_reply"</a></h5>
											<abbr title="22 July 2014" class="timeago">22 July 2014</abbr>
										</div>
										<p>
											Donec ipsum diam, pretium mollis dapibus risus. Nullam tindun pulvinar at interdum eget, suscipit eget felis. Pellentesque est faucibus tincidunt risus id interdum primis orci cubilla gravida id interdum eget.
										</p>
										<a class="read_more" href="#comment_form" title="Reply">
											<span class="arrow"></span><span>REPLY</span>
										</a>
									</div>
								</li>
								<li class="comment clearfix">
									<a href="#comment-2" class="parent_arrow"></a>
									<div class="comment_author_avatar">
										&nbsp;
									</div>
									<div class="comment_details">
										<div class="posted_by clearfix">
											<h5><a class="author" href="#" title="Keith Douglas">Keith Douglas</a><a href="#comment-2" class="in_reply"></a></h5>
											<abbr title="22 July 2014" class="timeago">22 July 2014</abbr>
										</div>
										<p>
											Donec ipsum diam, pretium mollis dapibus risus. Nullam tindun pulvinar at interdum eget, suscipit eget felis. Pellentesque est faucibus tincidunt risus id interdum primis orci cubilla gravida id interdum eget.
										</p>
										<a class="read_more" href="#comment_form" title="Reply">
											<span class="arrow"></span><span>REPLY</span>
										</a>
									</div>
								</li>
							</ul>
						</li>
				
					</ul>
					<ul class="pagination page_margin_top_section">
						<li class="left">
							<a href="#" title="">&nbsp;</a>
						</li>
						<li class="selected">
							<a href="#" title="">
								1
							</a>
						</li>
						<li>
							<a href="#" title="">
								2
							</a>
						</li>
						<li>
							<a href="#" title="">
								3
							</a>
						</li>
						<li class="right">
							<a href="#" title="">&nbsp;</a>
						</li>
					</ul>
				</div>
			</div>
			@Html.Action("_MostRead", "Yazar")
		</div>
	</div>
</div>

	</div>

